.brand-container img {
    height: 40px;
}

.footer .footer_Inner {
  margin:auto;
  padding:1rem 2rem;
  container-type:inline-size
}

.footer ul {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 75%;
    text-align: center;
    
}

.footer ul li {
    display: inline;
  margin-right: 0.5rem;
}

.footer ul li a {
    color: #000;
}

.footer ul li a > * {
    margin-right: 0.3rem;
}

.footer .footer_Inner {
  display:flex;
  justify-content:space-between;
  margin:auto
}
@container (max-width: 400px) {
  .footer .footer_Inner {
    flex-direction:column;
    gap:1.5rem
  }
  .footer .footer_Inner .footer_digdirCredit {
    justify-content:flex-end
  }
}
.footer svg {
  max-height:2rem;
}
.footer .footer_digdirCredit {
  display:flex;
  gap:1rem;
  align-items:center;
  text-align:right
}
.footer .footer_digdirCredit a svg {
  display:block;
  height:1.75rem
}
.footer .footer_digdirCredit a:hover svg,

.logo_logo {
  display: flex;
  justify-content: center;
}

.logo_logo img {
    height: 40px;
}
