@import './colours.less';

.btn-primary {
  color: @NEUTRAL-N0;
  background-color: @NEUTRAL-60;
  border-color: @NEUTRAL-70;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  color: @NEUTRAL-N0;
  background-color: @NEUTRAL-70;
  border-color: @NEUTRAL-70;
}
