@import './colours.less';

.fdk-footer {
  position: relative;
  background-color: @NEUTRAL-60;
  color: @NEUTRAL-N0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: auto;
  overflow: hidden;

  .footer-title > h6{
    color: @NEUTRAL-N0;
  }

  a {
    color: @NEUTRAL-N0;
    text-decoration: none;
    border-bottom: 1px solid;
    margin-bottom: 5px;
  }

  a#fdk-logo-link {
    border-bottom: 0;
  }
}

.footer-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  > ul {
    list-style: none;
    max-width: 300px;

    > li {
      margin-bottom: 5px;

      > span > .fdk-text-icon {
        margin-right: 10px;
      }
    }
  }
}

.footer-content::before {
  content: none;
}

.footer-content::after {
  content: none;
}
