@import './text.less';

@import './categories.less';

@import './navbar.less';

@import './posts.less';

@import './buttons.less';

@import './category.less';

@import './user.less';

@import './groups.less';

@import './registration.less';

@import './badge.less';


@import './fdk-breadcrumbs.less';

@import './fdk-header.less';

@import './fdk-footer.less';

@import './fdk-splash.less';


body {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 0 !important;
}
