@import './colours.less';

.navbar-default {
  background-color: @NEUTRAL-60;
  color: @NEUTRAL-N0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-radius: 5px;

  .dropdown-menu {
    z-index: 1001;
  }

  .navbar-header > a {
    display: none;
  }

  .navbar-nav {
    display: flex;

    > .open > a {
      background-color: @NEUTRAL-70;

      &:hover, &:focus {
        background-color: @NEUTRAL-70;

      }
    }

    .navbar-fdk-icon {
      height: 25px;
      width: 25px;
    }

    > li > a, .navigation-link{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: @NEUTRAL-N0;
      width: 75px;

      @media (max-width: 992px) {
        width: 70px;
      }
    }

    > li > a, .navigation-link {
      background-color: transparent;
      color: @NEUTRAL-N0;

      &:hover, &:active, &:focus {
        text-decoration: none;
        background-color: @NEUTRAL-70;
        color: @NEUTRAL-N0;
      }
    }

    > li > .login-link {
      width: auto;
    }

    > .active a {
      background-color: transparent;
      color: @NEUTRAL-N0;

      &:hover, &:active, &:focus{
        background-color: @NEUTRAL-70;
        color: @NEUTRAL-N0;
      }
    }
  }

  .navbar-right {
    padding-right: 10px;
    float: none;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .logged-out-menu, .logged-in-menu{
    display: flex;
    flex: 1 1 auto;
    justify-content: end;
    min-width: 200px;

    &::before,::after {
      content: none !important;
    }

    & > li {
      display: flex;
    }
  }

  > .container >.hidden-xs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bell-o, .fa-bell {
    &::before {
      content: none;
    }
  }

  .notifications {
    height: 100%;

    > a {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  i {
    text-decoration: none;
    font-size: 25px;
  }

  .fa-bell-o, .fa-bell {
    &::before {
      content: none !important;
    }
  }

  .fdk-search {
    justify-content: end;
    flex: 1 1 auto;
    min-width: 50px;

    > form {
      flex: 1 1 auto;
      min-width: 50px;
      @media (max-width: 992px) {
        flex: 0 1 auto;
      }
    }

    .fdk-search-fields {
      display: flex;
      flex: 1 1 auto;
      min-width: 50px;

      > button.btn-default {
        border-radius: 0px 5px 5px 0px;

        @media (max-width: 992px) {
          border-radius: 5px;
        }
      }

      > .form-group {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        border: 1px solid white;
        border-right: none;
        border-radius: 5px 0px 0px 5px;
        min-width: 100px;

        @media (max-width: 992px) {
          display: none;
        }

        > a {
          margin-right: 5px;
          margin-left: 5px;
        }

        > input {
          flex: 1 1 auto;
          background-color: transparent;
          border: none;
          outline: none;
          color: white;
          color: @NEUTRAL-N0;
          min-width: 100px;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.menu-section {

  > .menu-section-list a {
    color: @NEUTRAL-N0;

    &:hover, &:focus, &:active {
      color: @NEUTRAL-N0;
    }
  }

  img, .navbar-fdk-icon {
    width: 25px;
    height: 25px;
  }

  i {
    text-decoration: none;
    font-size: 25px;
  }

}
