@import './colours.less';

.topic {
  .topic-header {
    position: inherit;
    top: auto;
    z-index: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;

    >h1 {
      line-height: inherit;
      margin-bottom: inherit;

      .topic-title {
        line-height: inherit;
        font-size: inherit;
      }
    }

    a {
      font-weight: 600;
    }

    .topic-info {
      .tag-list {
        margin-left: 10px;
        margin-right: 10px;
      }

      .topic-main-buttons {
        padding-top: 0;
      }
    }
  }

  .posts {
    padding: 20px;
    border-radius: 5px;
    background-color: @NEUTRAL-N0;

    @media (max-width: 767px) {
      margin-left: 0;
      padding-right: 5px;
    }

    >.fdk-topic-reply-btn {
      margin-left: 50px;
      margin-top: 35px;
      margin-bottom: 35px;
      border-radius: 5px;
      box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.15);

      img {
        height: 16px;
        width: 16px;
        margin-right: 5px;
      }

      >a {
        border-radius: 5px;
        padding: 10px 25px;
        font-size: 16px;
        background-color: @NEUTRAL-60;

        &:hover {
          background-color: @NEUTRAL-70;
        }
      }
    }

    >ul {
      list-style: none;
      padding: 0;

      .post {
        border: none;
        margin-left: 50px;
        margin-bottom: 10px;
        padding: 20px 20px 20px 50px;
        background-color: @NEUTRAL-15;
        border-radius: 5px;

        -webkit-transition: background-color 1000ms ease-in-out;
        -moz-transition: background-color 1000ms ease-in-out;
        -o-transition: background-color 1000ms ease-in-out;
        -ms-transition: background-color 1000ms ease-in-out;
        transition: background-color 1000ms ease-in-out;

        @media (max-width: 767px) {
          margin-left: 0;
          padding: 10px;
          padding-right: 2px;
        }

        .content {
          margin: 0;
        }

        >div:not(.content) {
          margin: 0;
        }

        small {
          font-size: 14px;
        }

        &:last-child::after {
          display: none;
        }

        &[component="post"].highlight {
          border-color: transparent;
          box-shadow: none;
          &:not(.first-post){
            background-color: @NEUTRAL-30;
          }
        }
      }

      .first-post {
        border: none !important;
        padding: 0;
        margin-bottom: 10px;
        background-color: @NEUTRAL-N0;
      }
    }

    .post-footer [component="post/replies"] {
      border: none;
      padding: 0;

      >.post {
        background-color: @NEUTRAL-N0;
      }

      .reply-text a {
        background-color: @NEUTRAL-15;

        &:hover {
          background-color: @NEUTRAL-70;
        }
      }
    }

    .reply-text a {
      background-color: @NEUTRAL-N0;

      &:hover {
        color: @NEUTRAL-N0;
        background-color: @NEUTRAL-70;
      }
    }
  }

  .category-item .icon {
    border-radius: 0;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
  }

  .necro-post {
    display: none;
  }

  .pagination-block {
    display: none;
  }
}
