@import './colours.less';

.account {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &::before, &::after {
      content: none;
    }
  }

  > .cover {
    position: relative;
    top: 0;
    border-radius: 5px;
    margin-bottom: 75px;
  }

  > .profile {
    margin-top: 50px;
  }

  &::before, &::after {
    content: none;
  }
}
